In [1]:
import numpy as np
import pandas as pd
data = pd.read_csv('gender.csv')
data

   Person  height  weight  foot size
0    male    6.00     180         12
1    male    5.92     190         11
2    male    5.58     170         12
3    male    5.92     165         10
4  female    5.00     100          6
5  female    5.50     150          8
6  female    5.42     130          7
7  female    5.75     150          9

In [2]:
data['Person'] = data['Person'].replace('male', 0)
data['Person'] = data['Person'].replace('female', 1)
data

   Person  height  weight  foot size
0       0    6.00     180         12
1       0    5.92     190         11
2       0    5.58     170         12
3       0    5.92     165         10
4       1    5.00     100          6
5       1    5.50     150          8
6       1    5.42     130          7
7       1    5.75     150          9

In [3]:
male_mu = data[['height', 'weight', 'foot size']][data['Person'] == 0].mean()
male_var = data[['height', 'weight', 'foot size']][data['Person'] == 0].var()

fem_mu = data[['height', 'weight', 'foot size']][data['Person'] == 1].mean()
fem_var = data[['height', 'weight', 'foot size']][data['Person'] == 1].var()


print('Mean values for male features\n{}'.format(male_mu))
print()

print('Variance values for male features\n{}'.format(male_var))
print()
print('Mean values for female features\n{}'.format(fem_mu))

print()
print('Variance values for female features\n{}'.format(fem_var))

Mean values for male features
height         5.855
weight       176.250
foot size     11.250
dtype: float64

Variance values for male features
height         0.035033
weight       122.916667
foot size      0.916667
dtype: float64

Mean values for female features
height         5.4175
weight       132.5000
foot size      7.5000
dtype: float64

Variance values for female features
height         0.097225
weight       558.333333
foot size      1.666667
dtype: float64

In [4]:
def likelihood(xi, mu, var):
    l = (1 / np.sqrt(2 * np.pi * var)) * np.exp((-(xi - mu) ** 2) / (2 * var))
    return l

In [5]:
class_priors = np.array([0.5, 0.5])
class_priors


# array([0.5, 0.5])

array([0.5, 0.5])

In [6]:
data.loc[data.shape[0]] = [-99, 6, 130, 8]
data

   Person  height  weight  foot size
0       0    6.00     180         12
1       0    5.92     190         11
2       0    5.58     170         12
3       0    5.92     165         10
4       1    5.00     100          6
5       1    5.50     150          8
6       1    5.42     130          7
7       1    5.75     150          9
8     -99    6.00     130          8

In [8]:
# height feature
x_1 = likelihood(xi=data.loc[8]['height'],
                 mu =np.array([male_mu['height'], fem_mu['height']]),
                 var =np.array([male_var['height'], fem_var['height']]))

# weight feature
x_2 = likelihood(xi=data.loc[8]['weight'],
                 mu=np.array([male_mu['weight'], fem_mu['weight']]),
                 var=np.array([male_var['weight'], fem_var['weight']]))

# foot size feature
x_3 = likelihood(xi=data.loc[8]['foot size'],
                 mu=np.array([male_mu['foot size'], fem_mu['foot size']]),
                 var=np.array([male_var['foot size'], fem_var['foot size']]))

x_1, x_2, x_3

#(array([1.57888318, 0.22345873]),
# array([5.98674302e-06, 1.67892979e-02]),
# array([0.00131122, 0.2866907 ]))

(array([1.57888318, 0.22345873]),
 array([5.98674302e-06, 1.67892979e-02]),
 array([0.00131122, 0.2866907 ]))

In [10]:
type(male_mu['height'])

numpy.float64